<!DOCTYPE html>
<html lang="en">
<header class="nav">
    <div class="nav-inner">

        <div class="nav-brand">
            <a href="{{ url_for('log_meal') }}">Log a meal</a>
        </div>

        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Dashboard</a>
            <a href="">Leaderboard</a>
            <a href="{{url_for('login')}}">Login</a>

            <a href="{{url_for('signup')}}" class="signup-btn">
                Sign Up
            </a>

        </nav>

    </div>
</header>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>