{% extends "base.html" %}

{% block title %}Log a meal{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<main class="dash">
    <!-- Top banner -->
    <section class="dash-hero">
        <h1 class="dash-title">{{"Hey " + user_name if user_name else "You are not logged in" }}</h1>
        <p class="dash-subtitle">Log a meal below!</p>
    </section>

    <section class="stats">
        <div class="stat-card">
            <div class="stat-label">Total GHG emissions</div>
            <div class="stat-row">
                <div class="stat-value">{{ emissions|round(2) if emissions else 0 }}</div>
                <div class="stat-unit">kg CO<sub>2</sub>e</div>
            </div>
        </div>

        <div class="stat-card">
            <div class="stat-label">Leaderboard Ranking</div>
            <div class="stat-row">
                <div class="stat-value">{{ rank if rank else 0 }}</div>
            </div>
        </div>
    </section>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.protein_selected.label }} <br>
            {{ form.protein_selected }} <br>
        </p>
        <p> {{ form.carb_selected.label }} <br>
            {{ form.carb_selected }} <br>
        </p>
        <p> {{ form.veg_selected.label }} <br>
            {{ form.veg_selected }} <br>
        </p>
        <p>
            {{ form.submit }} <br>
        </p>
    </form>

</main>
{% endblock %}
