{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<main class="auth-layout">
    <section class="auth-left"></section>

    <section class="auth-right">
        <div class="auth-card">
            <h1 class="auth-title">Login</h1>

            <form class="auth-form" method="POST">
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="auth-btn">
                    Login
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

